.order-placement-section {
    background-color: #01838c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.guideline {
    display: flex;
    justify-content:center;
    align-content: center;
   
    

}

.guideline-number {
    background-color: white;
    color: #01838c;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: 2px solid white;
    text-align: center;
    font: 16px;
    font-weight: bold;

}

.guideline-details {
    padding-top: 10px;
    padding-left: 10px;
}